.header {
  padding: 70px;
  background-color:#19334d;
  background-repeat:no repeat;
  width:100%;
  color: white;
}




.bs-example{
        margin: 20px;        
    }




div.col-9 {
  top:-60px;
  font-size:40px;
 
}
div.col-3 {
  top:-60px;
 
 
}

div.col-12 {
  text-align:center;
  top:-60px
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}
div.card:hover {
  
  opacity:0.8;
  box-shadow: 0 4px 8px 0 rgb(255, 153, 153), 0 6px 20px 0 rgb(179, 198, 255);
}




.footer {
   padding:5px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #19334d;
   color: white;
   text-align: right;
}




